<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <system.serviceModel>

    <client>

      <endpoint name="Source_P"
      address="net.tcp://localhost:1235/IPersonService"
      binding="netTcpBinding"
      contract="Common.IPersonService" />

      <endpoint name="Destination_P"
      address="net.tcp://localhost:1245/IPersonService"
      binding="netTcpBinding"
      contract="Common.IPersonService" />

      <endpoint name="Source_S"
      address="net.tcp://localhost:1235/IServiceState"
      binding="netTcpBinding"
      contract="Common.IServiceState" />

      <endpoint name="Destination_S"
      address="net.tcp://localhost:1245/IServiceState"
      binding="netTcpBinding"
      contract="Common.IServiceState" />

    </client>

  </system.serviceModel>
  
  
</configuration>