<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <system.serviceModel>
    <services>

      <service name="Server.PersonService">
        <endpoint address="" binding="netTcpBinding" contract="Common.IPersonService" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:1245/IPersonService" />
          </baseAddresses>
        </host>
      </service>

    </services>
  </system.serviceModel>
  
</configuration>