<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>
    <client>

      <endpoint name="PersonService"
      address="net.tcp://localhost:1235/IPersonService"
      binding="netTcpBinding"
      contract="Common.IPersonService" />

      <endpoint name="UserService"
      address="net.tcp://localhost:1235/IUserService"
      binding="netTcpBinding"
      contract="Common.IUserService" />

    </client>
  </system.serviceModel>
</configuration>